<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table.css') }}">
    <title>Gym Form Applications</title>
</head>
<body>
    <h1>Hall: {{ hall }}</h1>
    <a href="{{ url_for('logout') }}">
            Logout
	</a>
	<form action='get_csv' method="POST">
			<button title="Export tasssssssble to csv">Export</button>
	</form>
	 <!-- <form action='approve_all' method="POST">
			<button>Approve all</button>
	</form> -->
    <table>
	   <tr>
		<th>Request ID</th>
		<th>Timestamp</th>
		<th>Roll Number</th>
		<th>Name</th>
		<th>From Date</th>
		<th>To Date</th>
		<th>Approval Status</th>	
	  </tr>
	  {% for row in table %}
	 	<tr>
			 <td>{{ row['id'] }}</td>
			 <td>{{ row['timestamp'] }}</td>
			 <td>{{ row['roll_number'] }}</td>
			 <td>{{ row['name'] }}</td>
			 <td>{{ row['from_date'] }}</td>
			 <td>{{ row['to_date'] }}</td>
			 <td class={{ row['id'] }} >{{ row['approval_status']}}</td>
			 {% if row['approval_status'] == 'N' %}
			 	<td><button onclick="handle(this.id)" id={{ row['id'] }} >Approve</button></td>
			 {% endif %}
			</tr> 
	  {% endfor %}
	</table> 
	
	{% block javascript %}
	<script>
		async function handle(id) {
			console.log('e ', id)
			try {
				var response = await fetch( "{{url_for('approve')}}",{
								method: 'POST',
								mode: 'cors',
								headers: {
									'Accept': 'application/json',
									'Content-Type': 'application/json',
									'Access-Control-Allow-Origin': '*'
								},
								body: JSON.stringify({ id })
								
							})
				let approved_student = document.getElementsByClassName(id);
				let approved_button = document.getElementById(id)
				approved_student[0].innerHTML = "Y";
				approved_button.style.display = "none"
				
			} catch {
				alert('Unable to update Database! Please Try again')
			}

			
			



		}
	</script>
	{% endblock %}
</body>
</html>
